{% extends 'layout.html' %}

{% block main %}

<ol class="breadcrumb">
    <li><a href="/">管理首页</a></li>
    <li><span>内容修改</span></li>
</ol>

<h3>内容修改</h3>

<!--没有写url，那么url是自己本身页面-->
<form role="form" method="post">
    <div class="form-group">
        <label for="fname">美食名字：</label>
        <input type="text" value="{{foods.fname}}" class="form-control" id="fname" placeholder="请输入美食名称：" name="fname">
    </div>
    <div class="form-group">
        <label for="photo">图片：</label>
        <input type="text" value="{{foods.photo}}" class="form-control" id="photo" placeholder="请输入图片路径" name="photo">
    </div>
    <div class="form-group">
        <label for="content">内容：</label>
        <textarea name="content" id="content" class="form-control" rows="10" placeholder="请输入内容">{{foods.intro}}</textarea>
    </div>

    <button type="submit" class="btn btn-primary">修改</button>
    <br /><br />
</form>

{% endblock %}